#home-body {
  margin-left: 0;
  margin-right: 0;
}
#special {
  font-size: 13px;
  margin-bottom: 20px;
  .item {
    .transition;
    display: inline-flex;
    align-items: center;
    border-radius: 3px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    cursor: pointer;
    .icon {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      width: 32px;
      height: 32px;
      position: absolute;
    }
    .title {
      .transition;
      display: inline-block;
      line-height: 32px;
      padding-right: 10px;
      margin-left: 32px;
      padding-left: 10px;
      z-index: 1;
      position: relative;
      text-align: center;
    }
    .title:hover {
      margin-left: 0;
      padding-left: 42px;
      background: rgba(0,0,0,0.7);
      color: #FFFFFF;
    }
  }
}
#post-list {
  font-size: 13px;
  margin-bottom: 20px;
  .item {
    .transition;
    .display;
    align-items: center;
    padding: 15px 0;
    .content {
      flex: 1;
      .title {
        .transition;
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        cursor: pointer;
      }
      .message {
        font-size: 13px;
        line-height: 24px;
        margin-top: 10px;
        color: #999999;
      }
      .footer {
        .transition;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 8px;
        .display;
        align-items: center;
        .footer-item {
          margin-right: 10px;
          .display;
          align-items: center;
          .icon {
            font-size: 15px;
            margin-right: 5px;
          }
        }
        .pointer {
          cursor: pointer;
        }
        .avatar {
          width: 24px;
          height: 24px;
          border-radius: 2px;
          margin-right: 5px;
        }
      }
    }
    .cover {
      .transition;
      width: 125px;
      height: 100px;
      margin-left: 10px;
    }
    .cover:hover {
      transform: scale(1.1)
    }
  }
  .load-more {
    .transition;
    background: #A5A5A5;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    border-radius: 20px;
    font-size: 15px;
  }
  .load-more:hover {
    background: #9B9B9B;
  }
}
#person-preview {
  width: 300px;
  border-radius: 4px;
  padding-bottom: 10px;
  position: absolute;
  z-index: 8;
  .preview-cover {
    width: 100%;
    height: 116.66px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .preview-user {
    margin: 0 10px 10px 10px;
    .display;
    align-items: flex-end;
    .preview-avatar {
      width: 63px;
      height: 60px;
      margin-top: -20px;
      border-radius: 3px;
      border-bottom: none;
    }
    .preview-info {
      .display;
      margin-left: 10px;
      flex-direction: column;
      font-size: 13px;
    }
  }
  .preview-introduction {
    word-break: break-all;
    margin: 0 10px 10px 10px;
    padding-bottom: 10px;
  }
  .preview-items {
    .transition;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0 10px 10px 10px;
    .p-item {
      .p-tag {
        color: #8590a6;
        text-align: center;
        line-height: 1.6;
      }
      .p-count {
        .transition;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .preview-tips {
    margin: 10px;
    padding-top: 10px;
    .display;
    justify-content: space-around;
    .tip-item {
      .display;
      flex-direction: column;
      text-align: center;
    }
    .k {
      color: #999999;
      font-size: 14px;
    }
    .v {
      font-size: 15px;
      font-weight: bold;
    }
  }
  .preview-footer {
    .display;
    justify-content: space-between;
    margin: 0 10px;
    .btn {
      .transition;
      width: 130px;
      cursor: pointer;
      .display;
      align-items: center;
      justify-content: center;
      line-height: 36px;
      padding: 0 10px;
      border-radius: 5px;
    }
    .follow {
      background: #ea6f5a;
      border: 1px solid #ea6f5a;
      color: #FFFFFF;
    }
    .follow:hover {
      background: #ea624e;
      border: 1px solid #ea624e;
    }
    .icon {
      margin-right: 8px;
    }
    .message {
      color: #999999;
      border: 1px solid #999999;
    }
  }
}
.person-preview-day {
  background-color: #FFFFFF;
  box-shadow: 0 1px 8px rgba(221, 221, 221, 0.9);
}
.person-preview-night {
  background-color: #3F3F3F;
  box-shadow: 0 1px 8px rgba(51, 51, 51, 0.9);
}
#write {
  width: 100%;
  height: calc(100vh);
  padding-top: 66px;
  .bar {
    .display;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all ease 0.3s;
    min-width: 900px;
    height: 56px;
    box-shadow: 0 2px 3px rgba(26, 26, 26, 0.1);
    z-index: 10;
    .bar-container {
      .display;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 900px;
      .bar-tip {
        font-weight: 600;
        font-size: 20px;
        margin-right: 40px;
      }
      .bar-editor {
        font-size: 14px;
        margin-right: 10px;
      }
      .editor-switch {
        .display;
        align-items: center;
      }
    }
    .publish {
      .transition;
      .display;
      color: #FFFFFF;
      font-size: 15px;
      background: #ea6f5a;
      border: 1px solid #ea6f5a;
      padding: 1px 12px;
      border-radius: 18px;
      cursor: pointer;
      margin-right: 0;
      align-items: center;
      .yun {
        font-size: 20px;
        margin-right: 5px;
      }
    }
    .publish:hover {
      background: #ea624e;
      transform: scale(1.1);
    }
  }
  .container {
    width: 900px;
    margin: 0 auto;
    .cover {
      .display;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 350px;
      margin-bottom: 20px;
      color: #999999;
      .camera {
        font-size: 30px;
      }
      .cover-tip {
        .transition;
        position: absolute;
        width: 100%;
        text-align: center;
        opacity: 0;
        margin-top: 0;
        display: none;
      }
    }
    .cover:hover .cover-tip {
      display: block;
      opacity: 1;
      margin-top: 30px;
    }
    .cover-o {
      .display;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      height: 350px;
      margin-bottom: 20px;
      color: #999999;
      .image {
        flex: 1;
      }
      .tool {
        position: absolute;
        background: rgba(0,0,0,0.85);
        padding: 0 5px;
        border-top-left-radius: 5px;
        .camera {
          font-size: 30px;
          padding: 0 8px;
          cursor: pointer;
        }
      }
    }
    .title-input {
      font-size: 32px;
      margin-bottom: 15px;
      border: none;
      outline: none;
      width: 100%;
      background: transparent;
    }
    .title-input::-webkit-input-placeholder {
      color: #b3b3b3;
    }
  }
}
#cloud-editor {
  margin-bottom: 40px;
}
#post-detail {
  .cover-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    .visible {
      width: 100%;
      z-index: 1;
      position: relative;
    }
    .blur {
      position: absolute;
      width: 100%;
      left: 0;
      top: 10px;
      filter: blur(10px);
    }
  }
  .post-detail-loading {
    margin-top: 50px;
    text-align: center;
  }
  .p-error {
    .transition;
    margin: 169px auto 0;
    width: 404px;
    .p-error-tip {
      .transition;
      .display;
      align-items: center;
      .p-error-logo {
        font-size: 40px;
        color: #ea6f5a;
      }
      .p-error-404 {
        line-height: 40px;
        display: inline-block;
        font-size: 25px;
        margin-left: 8px;
      }
    }
    .p-error-content {
      .transition;
      margin-top: 20px;
      text-align: center;
      padding: 30px 20px;
      border-radius: 5px;
      .p-error-title {
        .transition;
        margin: 0 0 1.7em;
        font-size: 1.1em;
        font-weight: 500;
      }
      .p-error-detail {
        .transition;
        padding-bottom: 1.7em;
      }
      .p-error-footer {
        .transition;
        margin-top: 1.7em;
        .p-error-link {
          .transition;
          margin: 0 10px;
          cursor: pointer;
          color: #3385ff;
        }
        .p-error-link:hover {
          border-bottom: 1px solid #3385ff;
        }
      }
    }
  }
  .post-detail-title {
    word-break: break-word!important;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 700;
  }
  .post-detail-author {
    .display;
    align-items: center;
    margin-bottom: 20px;
    .post-detail-avatar {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      margin-right: 10px;
    }
    .post-detail-info {
      font-size: 16px;
      vertical-align: middle;
      .post-detail-name {
        .display;
        align-items: center;
        .post-detail-link {
          font-weight: 500;
        }
        .post-detail-btn {
          .transition; 
          padding: 0 8px;
          border-radius: 20px;
          font-size: 12px;
          line-height: 22px;
          display: inline-block;
          margin-left: 10px;
          cursor: pointer;
          .icon {
            font-size: 11px;
            margin-right: 4px;
          }
        }
        .post-detail-follow {
          border: 1px solid #42c02e;
          background: #42c02e;
          color: #FFFFFF;
        }
        .post-detail-follow:hover {
          background: #3ba52b;
        }
        .post-detail-unfollow-day {
          border: 1px solid #8c8c8c;
          color: #8c8c8c;
        }
        .post-detail-unfollow-day:hover {
          background: #f7f7f7;
        }
        .post-detail-unfollow-night {
          border: 1px solid #3f3f3f;
          color: #8c8c8c;
          background: #3f3f3f;
        }
        .post-detail-unfollow-night:hover {
          border: 1px solid #1f1f1f;
          background: #1f1f1f;
        }
      }
      .post-detail-descript {
        margin-top: 5px;
        font-size: 12px;
        color: #969696;
        span {
          margin-right: 10px;
        }
      }
    }
  }
  .post-detail-footer {
    .display;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 13px;
    align-items: center;
    .post-detail-special {
      .display;
      align-items: center;
      .post-detail-special-avatar {
        width: 26px;
        border-radius: 2px;
      }
      .post-detail-special-title {
        margin-left: 8px;
      }
    }
    .post-detail-tool {
      .post-detail-report {
        cursor: pointer;
      }
      span {
        margin-left: 10px;
      }
    }
  }
  .post-detail-user {
    .transition; 
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    .post-detail-user-top {
      .display;
      align-items: center;
      .post-detail-user-avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
      .post-detail-user-info {
        margin: 0 10px;
        .post-detail-user-name {
          font-size: 17px;
          font-weight: 500;
        }
        .post-detail-descript {
          margin-top: 5px;
          font-size: 12px;
          color: #969696;
          span {
            margin-right: 10px;
          }
        }
      }
      .post-detail-btn {
        .transition; 
        padding: 0 8px;
        border-radius: 20px;
        font-size: 12px;
        line-height: 22px;
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;
        .icon {
          font-size: 11px;
          margin-right: 4px;
        }
      }
      .post-detail-follow {
        border: 1px solid #42c02e;
        background: #42c02e;
        color: #FFFFFF;
      }
      .post-detail-follow:hover {
        background: #3ba52b;
      }
      .post-detail-unfollow-day {
        border: 1px solid #8c8c8c;
        color: #8c8c8c;
      }
      .post-detail-unfollow-day:hover {
        background: #f7f7f7;
      }
      .post-detail-unfollow-night {
        border: 1px solid #3f3f3f;
        color: #8c8c8c;
        background: #3f3f3f;
      }
      .post-detail-unfollow-night:hover {
        border: 1px solid #1f1f1f;
        background: #1f1f1f;
      }
    }
    .post-detail-user-what {
      .transition; 
      margin-top: 10px;
      padding-top: 10px;
      color: #969696;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
    }
  }
  .post-detail-opt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    .post-detail-like {
      .transition; 
      cursor: pointer;
      display: inline-flex;
      height: 70px;
      align-items: center;
      position: relative;
      padding-left: 78px;
      padding-right: 20px;
      border: 1px solid #EA6F5A;
      border-radius: 35px;
      span:first-child {
        margin-right: 10px;
        padding: 2px 0;
        padding-right: 5px;
        border-right: 1px solid #ea6f5a;
      }
      span {
        color: #ea6f5a;
      }
    }
    .post-detail-share {
      .icon {
        .transition; 
        font-size: 26px;
        margin-left: 10px;
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  .post-detail-menu {
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 50px;
    flex-direction: column;
    span {
      .transition; 
      display: inline-flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      margin-bottom: -1px;
      cursor: pointer;
      .icon {
        .transition; 
        font-size: 25px;
      }
    }
  }
  .post-detail-menu-day {
    border: 1px solid #E1E1E1;
  }
  .post-detail-menu-day:hover {
    background: #f7f7f7;
  }
  .post-detail-menu-night {
    border: 1px solid #1F1F1F;
  }
  .post-detail-menu-night:hover {
    background: #2f2f2f;
  }
}
#rich-body {
  margin-bottom: 20px;
}
#like-fix {
  position: relative;
  display: inline-block;
}
#answer {
  .display;
  .transition;
  margin-top: 56px;
  flex: 1;
  flex-direction: column;
  min-height: calc(100vh - 56px);
  .q-nav {
    .transition;
    padding: 20px 0;
    box-shadow: 0 2px 3px rgba(26,26,26,.1);
    .q-container {
      width: 900px;
      margin: 0 auto;
      font-size: 14px;
      display: flex;
      .q-left {
        flex: 1;
        .q-top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .q-special {
            .transition;
            background: #ea6f5a;
            color: #FFFFFF;
            line-height: 30px;
            padding: 0 10px;
            border-radius: 15px;
            cursor: pointer;
            display: inline-block;
          }
          .q-special:hover {
            background: #ea624e;
          }
        }
        .q-title {
          .transition;
          margin-top: 12px;
          margin-bottom: 4px;
          font-size: 22px;
          font-weight: 600;
          line-height: 32px;
        }
        .q-introduction {
          .transition;
          font-size: 15px;
          word-break: break-word;
          line-height: 1.6;
          margin-bottom: 8px;
        }
        .q-tool {
          .q-b {
            .transition;
            min-width: 96px;
            line-height: 34px;
            border-radius: 3px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            margin-right: 10px;
            .q-icon {
              font-size: 14px;
              margin-right: 8px;
            }
          }
          .q-button {
            color: #fff;
            background-color: #48ba39;
            border: 1px solid #48ba39;
          }
          .q-button:hover {
            background-color: #3ba52b;
            border: 1px solid #3ba52b;
          }
          .q-button-un-day {
            border: 1px solid #8c8c8c;
            color: #8c8c8c;
          }
          .q-button-un-day:hover {
            background: #f7f7f7;
          }
          .q-button-un-night {
            border: 1px solid #2f2f2f;
            color: #8c8c8c;
            background: #2f2f2f;
          }
          .q-button-un-night:hover {
            background: #1f1f1f;
            border: 1px solid #1f1f1f;
          }
          .q-item {
            .transition;
            line-height: 32px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            margin-right: 10px;
            padding-left: 5px;
            font-size: 14px;
            color: #8590a6;
            .q-icon {
              font-size: 16px;
              margin-right: 3px;
            }
          }
          .q-item:hover {
            color: #77839b;
          }
        }
      }
      .q-info {
        display: flex;
        width: 296px;
        margin-left: 20px;
        justify-content: flex-end;
        align-items: flex-start;
        .q-item {
          .transition;
          text-align: center;
          .q-tag {
            color: #8590a6;
            text-align: center;
            line-height: 1.6;
          }
          .q-count {
            .transition;
            font-size: 18px;
            font-weight: 600;
          }
        }
        .q-item:first-child {
          margin-right: 10px;
          padding-right: 10px;
          cursor: pointer;
        }
      }
    }
  }
  .answer-body {
    width: 900px;
    .transition;
    .shadow {
      box-shadow: 0 2px 3px rgba(26,26,26,.1);
    }
    .other-answer {
      .transition;
      line-height: 50px;
      color: #8590a6;
      text-align: center;
      margin-bottom: 10px;
      font-size: 14px;
    }
    .a-a-line {
      .display;
      align-items: center;
      span {
        height: 1px;
        background: #8590a6;
        flex: 1;
      }
    }
    .other-answer:hover {
      color: #77839b;
    }
    .a-a {
      .transition; 
      padding: 10px;
      font-size: 14px;
      margin-bottom: 10px;
      .a-top {
        .display;
        .a-avatar {
          width: 38px;
          height: 38px;
          border-radius: 2px;
        }
        .a-info {
          .display;
          flex-direction: column;
          margin-left: 10px;
          flex: 1;
          .a-name {
            .transition;
            font-size: 15px;
            line-height: 1.1;
            font-weight: 600;     
          }
          .a-intro {
            color: #b4b4b4;
            align-items: center;
            margin-top: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-word;
            line-height: 1.6;
          }
        }
      }
      .a-f {
        .display;
        color: #8590a6;
        align-items: center;
        font-size: 14px;
        .a-f-base {
          margin-right: 20px;
          font-size: 14px;
          cursor: pointer;
          .icon {
            .transition;
            margin-right: 5px;
            font-size: 15px;
          }
          .i {
            font-size: 16px;
          }
        }
        .a-f-b {
          .transition; 
          border-radius: 3px;
          padding: 5px 10px;
        }
        .a-f-to-day {
          color: #ea6f5a;
          background:rgba(234, 111, 90, 0.2);
        }
        .a-f-to-day:hover {
          background:rgba(234, 111, 90, 0.4);
        }
        .a-f-to-night {
          color: #c8c8c8;
          background: #2f2f2f;
        }
        .a-f-to-night:hover {
          background: #1f1f1f;
        }
        .a-f-un-day {
          color: #ffffff;
          background: #ea6f5a;
        }
        .a-f-un-day:hover {
          background: #ea624e;
        }
        .a-f-un-night {
          color: #c8c8c8;
          background: #2f2f2f;
        }
        .a-f-un-night:hover {
          background: #2a2a2a;
        }
      }
    }
  }
}