#home-body {
  margin-left: 0;
  margin-right: 0;
}
#special {
  font-size: 13px;
  margin-bottom: 20px;
  .item {
    .transition;
    display: inline-flex;
    align-items: center;
    border-radius: 3px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    cursor: pointer;
    .icon {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      width: 32px;
      height: 32px;
      position: absolute;
    }
    .title {
      .transition;
      display: inline-block;
      line-height: 32px;
      padding-right: 10px;
      margin-left: 32px;
      padding-left: 10px;
      z-index: 1;
      position: relative;
      text-align: center;
    }
    .title:hover {
      margin-left: 0;
      padding-left: 42px;
      background: rgba(0,0,0,0.7);
      color: #FFFFFF;
    }
  }
}
#post-list {
  font-size: 13px;
  margin-bottom: 20px;
  .item {
    .transition;
    .display;
    align-items: center;
    padding: 15px 0;
    .content {
      flex: 1;
      .title {
        .transition;
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        cursor: pointer;
        border-bottom: 0 solid;
      }
      .title:hover {
        border-bottom-width: 1px;
      }
      .message {
        font-size: 13px;
        line-height: 24px;
        margin-top: 10px;
        color: #999999;
      }
      .footer {
        .transition;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 8px;
        .display;
        align-items: center;
        .footer-item {
          margin-right: 10px;
          .display;
          align-items: center;
          .icon {
            font-size: 15px;
            margin-right: 5px;
          }
        }
        .pointer {
          cursor: pointer;
        }
        .avatar {
          width: 24px;
          height: 24px;
          border-radius: 2px;
          margin-right: 5px;
        }
      }
    }
    .cover {
      .transition;
      width: 125px;
      height: 100px;
      margin-left: 10px;
    }
    .cover:hover {
      transform: scale(1.1)
    }
  }
  .load-more {
    .transition;
    background: #A5A5A5;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    border-radius: 20px;
    font-size: 15px;
  }
  .load-more:hover {
    background: #9B9B9B;
  }
}
#person-preview {
  width: 300px;
  border-radius: 4px;
  padding-bottom: 10px;
  position: absolute;
  .preview-cover {
    width: 100%;
    height: 116.66px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .preview-user {
    margin: 0 10px 10px 10px;
    .display;
    align-items: flex-end;
    .preview-avatar {
      width: 63px;
      height: 60px;
      margin-top: -20px;
      border-radius: 3px;
      border-bottom: none;
    }
    .preview-info {
      .display;
      margin-left: 10px;
      flex-direction: column;
      font-size: 13px;
    }
  }
  .preview-tips {
    margin: 10px;
    padding-top: 10px;
    .display;
    justify-content: space-around;
    .tip-item {
      .display;
      flex-direction: column;
      text-align: center;
    }
    .k {
      color: #999999;
      font-size: 14px;
    }
    .v {
      font-size: 15px;
      font-weight: bold;
    }
  }
  .preview-footer {
    .display;
    justify-content: space-between;
    margin: 0 10px;
    .btn {
      .transition;
      width: 130px;
      cursor: pointer;
      .display;
      align-items: center;
      justify-content: center;
      line-height: 36px;
      padding: 0 10px;
      border-radius: 5px;
    }
    .follow {
      background: #ea6f5a;
      border: 1px solid #ea6f5a;
      color: #FFFFFF;
    }
    .follow:hover {
      background: #ea624e;
      border: 1px solid #ea624e;
    }
    .icon {
      margin-right: 8px;
    }
    .message {
      color: #999999;
      border: 1px solid #999999;
    }
  }
}
.person-preview-day {
  background-color: #FFFFFF;
  box-shadow: 0 1px 8px rgba(221, 221, 221, 0.9);
}
.person-preview-night {
  background-color: #3F3F3F;
  box-shadow: 0 1px 8px rgba(51, 51, 51, 0.9);
}
#write {
  width: 100%;
  height: calc(100vh);
  padding-top: 66px;
  .bar {
    .display;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all ease 0.3s;
    min-width: 900px;
    height: 56px;
    box-shadow: 0 2px 3px rgba(26, 26, 26, 0.1);
    z-index: 10;
    .bar-container {
      .display;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 900px;
      .bar-tip {
        font-weight: 600;
        font-size: 20px;
        margin-right: 40px;
      }
      .bar-editor {
        font-size: 14px;
        margin-right: 10px;
      }
      .editor-switch {
        .display;
        align-items: center;
      }
    }
    .publish {
      .transition;
      .display;
      color: #FFFFFF;
      font-size: 15px;
      background: #ea6f5a;
      border: 1px solid #ea6f5a;
      padding: 1px 12px;
      border-radius: 18px;
      cursor: pointer;
      margin-right: 0;
      align-items: center;
      .yun {
        font-size: 20px;
        margin-right: 5px;
      }
    }
    .publish:hover {
      background: #ea624e;
      transform: scale(1.1);
    }
  }
  .container {
    width: 900px;
    margin: 0 auto;
    .cover {
      .display;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 350px;
      margin-bottom: 20px;
      color: #999999;
      .camera {
        font-size: 30px;
      }
      .cover-tip {
        .transition;
        position: absolute;
        width: 100%;
        text-align: center;
        opacity: 0;
        margin-top: 0;
        display: none;
      }
    }
    .cover:hover .cover-tip {
      display: block;
      opacity: 1;
      margin-top: 30px;
    }
    .cover-o {
      .display;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      height: 350px;
      margin-bottom: 20px;
      color: #999999;
      .image {
        flex: 1;
      }
      .tool {
        position: absolute;
        background: rgba(0,0,0,0.85);
        padding: 0 5px;
        border-top-left-radius: 5px;
        .camera {
          font-size: 30px;
          padding: 0 8px;
          cursor: pointer;
        }
      }
    }
    .title-input {
      font-size: 32px;
      margin-bottom: 15px;
      border: none;
      outline: none;
      width: 100%;
      background: transparent;
    }
    .title-input::-webkit-input-placeholder {
      color: #b3b3b3;
    }
  }
}