
@keyframes loading {
  0%{
    width:60%
  }
  50%{
    width:100%
  }
  to{
    width:60%
  }
}

@keyframes loading2 {
  0%{
    width:60%
  }
  50%{
    width:100%
  }
  100%{
    width:60%
  }
}

@keyframes loading3 {
  0%{
    width:20%
  }
  50%{
    width:40%
  }
  to{
    width:20%
  }
}

@keyframes typing {
  0% {
    background-color: rgba(234, 111, 90, 1);
    box-shadow: 24px 0px 0px 0px rgba(234, 111, 90, 0.2), 48px 0px 0px 0px rgba(234, 111, 90, 0.2);
  }

  25% {
    background-color: rgba(234, 111, 90, 0.4);
    box-shadow: 24px 0px 0px 0px rgba(234, 111, 90, 1), 48px 0px 0px 0px rgba(234, 111, 90, 0.2);
  }

  75% {
    background-color: rgba(234, 111, 90, 0.4);
    box-shadow: 24px 0px 0px 0px rgba(234, 111, 90, 0.2), 48px 0px 0px 0px rgba(234, 111, 90, 1);
  }
}

#loading {
  display: flex;
  align-items: center;
  .item {
    flex: 1;
    .cell {
      .transition;
      height: 16px;
      margin: 5px 0 15px;
    }
    .cell1 {
      .cell;
      animation: loading 1s ease-in-out infinite;
    }
    .cell2 {
      .cell;
      animation: loading2 1s ease-in-out -0.5s infinite
    }
    .cell3 {
      .cell;
      animation: loading3 1s ease-in-out infinite
    }
    .cell-tools {
      transition: all ease 0.3s;
      height: 16px;
      margin: 5px 0 15px;
      display: flex;
      .i {
        width: 50px;
        height: 100%;
        margin-right: 10px;
      }
    }
  }
  .cell-image {
    width: 125px;
    height: 110px;
    margin-left: 10px;
  }
}

#loading-point {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .conteiner {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: typing 1s linear infinite alternate;
    position: relative;
    left: -24px;
  }
}