body {
  width: 100%;
  height: calc(100vh - 76px);
}
.ant-modal{
  padding-bottom: 0;
}
.ant-modal-content {
  background: transparent;
}
.ant-modal-body {
  padding: 0 10px;
}
.ant-slider {
  flex: 1,
}
.ant-input {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 21px;
}
.ant-popover-inner-content{
  padding: 0;
}
.ant-popover-arrow {
  display: none;
}
#cloud-editor, #post-detail, #answer-detail {
  .w-e-text {
    padding: 10px 0 0 0;
    overflow-y: auto;
  }
  .w-e-text code {
    .transition;
  }
  .w-e-text .code-day {
    background-color: #F1F1F1;
  }
  .w-e-text .code-night {
    background-color: #2F2F2F;
  }
  .w-e-text blockquote {
    .transition;
  }
  .w-e-text .blockquote-day {
    background-color: #F1F1F1;
    border-left-color: #d0e5f2;
  }
  .w-e-text .blockquote-night {
    background-color: #2f2f2f;
    border-left-color: #1f1f1f;
  }
  .w-e-text::-webkit-scrollbar {
    width: 8px;
   }
  .w-e-text::-webkit-scrollbar-track {
    background-color:#4f4f4f;
    border-radius:2em;
   }
  .w-e-text::-webkit-scrollbar-thumb {
    background-color:#2f2f2f;
    border-radius: 2em;
  }
}