body {
  width: 100%;
  height: calc(100vh - 76px);
}
.ant-modal-body {
  padding: 0 10px;
}
.ant-slider {
  flex: 1,
}
.ant-input {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 21px;
}