.pic-edit-title {
  font-size: 20px;
  line-height: 40px;
}
.pic-edit-close {
  .transition;
  color: #FFFFFF;
  font-size: 28px;
  position: absolute;
  right: -40px;
  cursor: pointer;
}
.pic-edit-close:hover {
  transform: rotate(90deg);
}
.pic-edit-tool {
  padding-bottom: 10px;
  .cell {
    font-size: 15px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tag {
      margin-right: 10px;
    }
    .min-max {
      width: 30px;
    }
    .max {
      margin-left: 10px;
    }
    .done {
      .transition;
      line-height: 34px;
      border-radius: 4px;
      background: #ea6f5a;
      padding: 0 20px;
      color: #FFFFFF;
      cursor: pointer;
      margin-left: 10px;
    }
    .done:hover {
      background: #ea624e;
      transform: scale(1.1);
    }
  }
}